XML/Assignment(3)/rss.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT rss (channel)>
<!ATTLIST rss
	version CDATA #FIXED "0.91"
>
<!ELEMENT channel (title, description, link, item+)>
<!ELEMENT item (title, description, link)>
<!ELEMENT link (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT description (#PCDATA)>
